# Industry 4.0 의 중심, BigData

<div align='right'><font size=2 color='gray'>Data Processing Based Python @ <font color='blue'><a href='https://www.facebook.com/jskim.kr'>FB / jskim.kr</a></font>, [김진수](bigpycraft@gmail.com)</font></div>
<hr>

# Pandas Basic 6

In [1]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## 6. Other pandas topics
> pandas와 관련된 기타 주제

### <font color='brown'> Integer indexing </font>
> 정수 색인
- pandas 객체를 정수로 색인해서 사용하는 일은 파이썬에서 리스트나 튜플 같은 기본 자료 구조에서 사용하는 색인의 의미와 약간 달라서 종종 실수를 할 수 있으므로 주의한다 !!

In [2]:
ser = Series(np.arange(3.))
ser

0    0.0
1    1.0
2    2.0
dtype: float64

In [3]:
ser.iloc[-1]

2.0

In [4]:
ser2 = Series(np.arange(3.), index=['a', 'b', 'c'])
ser2

a    0.0
b    1.0
c    2.0
dtype: float64

In [5]:
ser2[-1]

2.0

In [7]:
# ser.ix[:1]
ser.iloc[:1]

0    0.0
dtype: float64

In [8]:
ser3 = Series(range(3), index=[-5, 1, 3])
ser3

-5    0
 1    1
 3    2
dtype: int64

In [9]:
ser3.iloc[2]

2

In [10]:
frame = DataFrame(np.arange(6).reshape((3, 2)), index=[2, 0, 1])
frame

   0  1
2  0  1
0  2  3
1  4  5

In [11]:
frame.iloc[0]

0    0
1    1
Name: 2, dtype: int32

### <font color='brown'> Panel data </font>
> Panel 데이터
> - Panel : DataFrame 객체를 담고 있는 사전이나 3차원 ndarray를 통해 생성할 수 있다.
> - <font color='blue'> Panel은 DataFrame의 3차원 버전이라고 이해 !! </font>
> - pandas 개발은 스프레드시트 형식의 데이터를 다루는 데 초점을 맞추고 있고,
> - 계층적 색인을 이용하면 대개의 경우 N차원 배열은 불필요하다.

In [13]:
# import pandas.io.data as web
import pandas_datareader as web

In [17]:
stk_data = dict((stk, web.get_data_yahoo(stk))
                       for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL'])

In [18]:
type(stk_data)

dict

In [19]:
stk_data.keys()

dict_keys(['AAPL', 'GOOG', 'MSFT', 'DELL'])

In [21]:
len(stk_data.values())

4

In [25]:
stk_data['AAPL'].tail()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-05-23,143.259995,137.649994,137.789993,143.110001,117726300.0,143.110001
2022-05-24,141.970001,137.330002,140.809998,140.360001,104132700.0,140.360001
2022-05-25,141.789993,138.339996,138.429993,140.520004,92482700.0,140.520004
2022-05-26,144.339996,137.139999,137.389999,143.779999,90601500.0,143.779999
2022-05-27,149.679993,145.259995,145.389999,149.639999,90796900.0,149.639999

In [26]:
# pdata = DataFrame(dict((stk, web.get_data_yahoo(stk))
#                        for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']))

In [251]:
pdata

<class 'pandas.core.panel.Panel'>
Dimensions: 4 (items) x 1795 (major_axis) x 6 (minor_axis)
Items axis: AAPL to MSFT
Major_axis axis: 2010-01-04 00:00:00 to 2017-01-20 00:00:00
Minor_axis axis: Open to Adj Close

In [252]:
pdata = pdata.swapaxes('items', 'minor')
pdata['Adj Close']

                  AAPL      DELL        GOOG       MSFT
Date
2010-01-04   27.847252  14.06528  313.062468  25.710416
2010-01-05   27.895396  14.38450  311.683844  25.718722
2010-01-06   27.451683  14.10397  303.826685  25.560888
2010-01-07   27.400936  14.23940  296.753749  25.295062
2010-01-08   27.583106  14.36516  300.709808  25.469510
2010-01-11   27.339779  14.37483  300.255255  25.145534
2010-01-12   27.028789  14.56830  294.945572  24.979392
2010-01-13   27.410045  14.57797  293.252243  25.211991
2010-01-14   27.251297  14.22005  294.630868  25.718722
2010-01-15   26.795872  13.92985  289.710772  25.635652
2010-01-19   27.981276  14.32646  293.516976  25.835022
2010-01-20   27.550575  14.03626  289.915587  25.411360
2010-01-21   27.074331  13.92017  291.199286  24.929550
2010-01-22   25.731480  13.18982  274.730736  24.057305
2010-01-25   26.423726  13.43650  269.730740  24.356361
2010-01-26   26.797173  13.13662  270.939526  24.505889
2010-01-27   27.049609  13.08825  270.779695  24.647109
2010-01-28   25.931866  12.84641  266.878565  24.223448
2010-01-29   24.991091  12.47882  264.705742  23.409354
2010-02-01   25.338514  12.78837  266.244198  23.600417
2010-02-02   25.485551  12.86576  265.295156  23.641951
2010-02-03   25.924059  12.92380  270.140309  23.783172
2010-02-04   24.989789  12.58523  263.127321  23.126913
2010-02-05   25.433503  12.80772  265.380075  23.276441
2010-02-08   25.259140  12.95282  266.468996  23.027228
2010-02-09   25.528492  13.10760  267.952522  23.268134
2010-02-10   25.389262  13.30107  266.958496  23.251519
2010-02-11   25.851191  13.49454  267.932539  23.359512
2010-02-12   26.073698  13.38813  266.294170  23.201677
2010-02-16   26.466665  13.67834  270.380071  23.660703
...                ...       ...         ...        ...
2016-12-07  111.029999       NaN  771.190002  61.369999
2016-12-08  112.120003       NaN  776.419983  61.009998
2016-12-09  113.949997       NaN  789.289978  61.970001
2016-12-12  113.300003       NaN  789.270020  62.169998
2016-12-13  115.190002       NaN  796.099976  62.980000
2016-12-14  115.190002       NaN  797.070007  62.680000
2016-12-15  115.820000       NaN  797.849976  62.580002
2016-12-16  115.970001       NaN  790.799988  62.299999
2016-12-19  116.639999       NaN  794.200012  63.619999
2016-12-20  116.949997       NaN  796.419983  63.540001
2016-12-21  117.059998       NaN  794.559998  63.540001
2016-12-22  116.290001       NaN  791.260010  63.549999
2016-12-23  116.519997       NaN  789.909973  63.240002
2016-12-27  117.260002       NaN  791.549988  63.279999
2016-12-28  116.760002       NaN  785.049988  62.990002
2016-12-29  116.730003       NaN  782.789978  62.900002
2016-12-30  115.820000       NaN  771.820007  62.139999
2017-01-03  116.150002       NaN  786.140015  62.580002
2017-01-04  116.019997       NaN  786.900024  62.299999
2017-01-05  116.610001       NaN  794.020020  62.299999
2017-01-06  117.910004       NaN  806.150024  62.840000
2017-01-09  118.989998       NaN  806.650024  62.639999
2017-01-10  119.110001       NaN  804.789978  62.619999
2017-01-11  119.750000       NaN  807.909973  63.189999
2017-01-12  119.250000       NaN  806.359985  62.610001
2017-01-13  119.040001       NaN  807.880005  62.700001
2017-01-17  120.000000       NaN  804.609985  62.529999
2017-01-18  119.989998       NaN  806.070007  62.500000
2017-01-19  119.779999       NaN  802.174988  62.299999
2017-01-20  120.000000       NaN  805.020020  62.740002

[1795 rows x 4 columns]

In [253]:
pdata.ix[:, '6/1/2012', :]

            Open        High         Low       Close       Volume   Adj Close
AAPL  569.159996  572.650009  560.520012  560.989983  130246900.0   72.996726
DELL   12.150000   12.300000   12.045000   12.070000   19397600.0   11.675920
GOOG  571.790972  572.650996  568.350996  570.981000    6138700.0  285.205295
MSFT   28.760000   28.959999   28.440001   28.450001   56634300.0   25.093451

In [254]:
pdata.ix['Adj Close', '5/22/2012':, :]

                  AAPL      DELL        GOOG       MSFT
Date
2012-05-22   72.473644  14.58765  300.100412  26.248896
2012-05-23   74.241986  12.08221  304.426106  25.675584
2012-05-24   73.560156  12.04351  301.528978  25.640302
2012-05-25   73.165884  12.05319  295.470050  25.631482
2012-05-28         NaN  12.05319         NaN        NaN
2012-05-29   74.464493  12.24666  296.873645  26.072491
2012-05-30   75.362333  12.14992  293.821674  25.878448
2012-05-31   75.174961  11.92743  290.140354  25.746145
2012-06-01   72.996726  11.67592  285.205295  25.093451
2012-06-04   73.426126  11.60821  289.006480  25.181652
2012-06-05   73.236155  11.76298  284.920579  25.146372
2012-06-06   74.359101  11.81619  289.995487  25.887268
2012-06-07   74.392930  11.73396  288.826666  25.781425
2012-06-08   75.511971  11.72429  289.935570  26.151873
2012-06-11   74.321360  11.47278  283.966519  25.490359
2012-06-12   74.970668  11.57919  282.268201  25.834347
2012-06-13   74.450185  11.87423  280.265216  25.693223
2012-06-14   74.368205  11.93711  279.246220  25.878448
2012-06-15   74.706521  11.89841  281.973510  26.478221
2012-06-18   76.222432  12.01449  285.140358  26.319457
2012-06-19   76.434536  11.78233  290.475012  27.077994
2012-06-20   76.217227  11.89841  288.467038  27.280858
2012-06-21   75.167150  11.60821  282.323161  26.584062
2012-06-22   75.743588  11.80168  285.455033  27.077994
2012-06-25   74.269317  11.55500  280.070407  26.345918
2012-06-26   74.433270  11.53565  282.058429  26.478221
2012-06-27   74.754665  11.92743  284.366112  26.610524
2012-06-28   74.045503  11.55984  281.873596  26.381198
2012-06-29   75.990821  12.10155  289.745749  26.980972
2012-07-02   77.099452  11.98064  289.945546  26.954511
...                ...       ...         ...        ...
2016-12-07  111.029999       NaN  771.190002  61.369999
2016-12-08  112.120003       NaN  776.419983  61.009998
2016-12-09  113.949997       NaN  789.289978  61.970001
2016-12-12  113.300003       NaN  789.270020  62.169998
2016-12-13  115.190002       NaN  796.099976  62.980000
2016-12-14  115.190002       NaN  797.070007  62.680000
2016-12-15  115.820000       NaN  797.849976  62.580002
2016-12-16  115.970001       NaN  790.799988  62.299999
2016-12-19  116.639999       NaN  794.200012  63.619999
2016-12-20  116.949997       NaN  796.419983  63.540001
2016-12-21  117.059998       NaN  794.559998  63.540001
2016-12-22  116.290001       NaN  791.260010  63.549999
2016-12-23  116.519997       NaN  789.909973  63.240002
2016-12-27  117.260002       NaN  791.549988  63.279999
2016-12-28  116.760002       NaN  785.049988  62.990002
2016-12-29  116.730003       NaN  782.789978  62.900002
2016-12-30  115.820000       NaN  771.820007  62.139999
2017-01-03  116.150002       NaN  786.140015  62.580002
2017-01-04  116.019997       NaN  786.900024  62.299999
2017-01-05  116.610001       NaN  794.020020  62.299999
2017-01-06  117.910004       NaN  806.150024  62.840000
2017-01-09  118.989998       NaN  806.650024  62.639999
2017-01-10  119.110001       NaN  804.789978  62.619999
2017-01-11  119.750000       NaN  807.909973  63.189999
2017-01-12  119.250000       NaN  806.359985  62.610001
2017-01-13  119.040001       NaN  807.880005  62.700001
2017-01-17  120.000000       NaN  804.609985  62.529999
2017-01-18  119.989998       NaN  806.070007  62.500000
2017-01-19  119.779999       NaN  802.174988  62.299999
2017-01-20  120.000000       NaN  805.020020  62.740002

[1188 rows x 4 columns]

In [255]:
stacked = pdata.ix[:, '5/30/2012':, :].to_frame()
stacked

                        Open        High         Low       Close       Volume  \
Date       minor
2012-05-30 AAPL   569.199997  579.989990  566.559990  579.169998  132357400.0
           DELL    12.590000   12.700000   12.460000   12.560000   19787800.0
           GOOG   588.161028  591.901014  583.530999  588.230992    3827600.0
           MSFT    29.350000   29.480000   29.120001   29.340000   41585500.0
2012-05-31 AAPL   580.740021  581.499985  571.460022  577.730019  122918600.0
           DELL    12.530000   12.540000   12.330000   12.330000   19955600.0
           GOOG   588.720982  590.001032  579.001013  580.860990    5958800.0
           MSFT    29.299999   29.420000   28.940001   29.190001   39134000.0
2012-06-01 AAPL   569.159996  572.650009  560.520012  560.989983  130246900.0
           DELL    12.150000   12.300000   12.045000   12.070000   19397600.0
           GOOG   571.790972  572.650996  568.350996  570.981000    6138700.0
           MSFT    28.760000   28.959999   28.440001   28.450001   56634300.0
2012-06-04 AAPL   561.500008  567.499985  548.499977  564.289978  139248900.0
           DELL    12.110000   12.112500   11.800000   12.000000   17015700.0
           GOOG   570.220958  580.491016  570.011006  578.590973    4883500.0
           MSFT    28.620001   28.780001   28.320000   28.549999   47926300.0
2012-06-05 AAPL   561.269989  566.470001  558.330002  562.830025   97053600.0
           DELL    11.950000   12.240000   11.950000   12.160000   15620900.0
           GOOG   575.451008  578.131003  566.470986  570.410999    4697200.0
           MSFT    28.510000   28.750000   28.389999   28.510000   45715400.0
2012-06-06 AAPL   567.770004  573.849983  565.499992  571.460022  100363900.0
           DELL    12.210000   12.280000   12.090000   12.215000   20779900.0
           GOOG   576.480979  581.970971  573.611004  580.570966    4207200.0
           MSFT    28.879999   29.370001   28.809999   29.350000   46860500.0
2012-06-07 AAPL   577.290009  577.320023  570.500000  571.720001   94941700.0
           DELL    12.320000   12.410000   12.120000   12.130000   20074000.0
           GOOG   587.601014  587.891038  577.251006  578.230986    3530100.0
           MSFT    29.639999   29.700001   29.170000   29.230000   37792800.0
2012-06-08 AAPL   571.599998  580.580017  568.999992  580.319984   86879100.0
           DELL    12.130000   12.225000   12.020000   12.120000   18155600.0
...                      ...         ...         ...         ...          ...
2017-01-06 AAPL   116.779999  118.160004  116.470001  117.910004   31577900.0
           GOOG   795.260010  807.900024  792.203979  806.150024    1620500.0
           MSFT    62.299999   63.150002   62.040001   62.840000   19897900.0
2017-01-09 AAPL   117.949997  119.430000  117.940002  118.989998   33387600.0
           GOOG   806.400024  809.966003  802.830017  806.650024    1272400.0
           MSFT    62.759998   63.080002   62.540001   62.639999   20256600.0
2017-01-10 AAPL   118.769997  119.379997  118.300003  119.110001   24420800.0
           GOOG   807.859985  809.130005  803.510010  804.789978    1174300.0
           MSFT    62.730000   63.070000   62.279999   62.619999   18547000.0
2017-01-11 AAPL   118.739998  119.930000  118.599998  119.750000   27418600.0
           GOOG   805.000000  808.150024  801.369995  807.909973    1057900.0
           MSFT    62.610001   63.230000   62.430000   63.189999   21462800.0
2017-01-12 AAPL   118.900002  119.300003  118.209999  119.250000   27002400.0
           GOOG   807.140015  807.390015  799.169983  806.359985    1351000.0
           MSFT    63.060001   63.400002   61.950001   62.610001   20898900.0
2017-01-13 AAPL   119.110001  119.620003  118.809998  119.040001   25938300.0
           GOOG   807.479980  811.223999  806.690002  807.880005    1090100.0
           MSFT    62.619999   62.869999   62.349998   62.700001   19350400.0
2017-01-17 AAPL   118.339996  120.239998  118.220001  120.000000   34078600.0
           GOOG   807.080017  807.140015  800.369995  804.609985    1355800.0
           MSFT    62.680000   62.700001   62.029999   62.529999   20620400.0
2017-01-18 AAPL   120.000000  120.500000  119.709999  119.989998   23644700.0
           GOOG   805.809998  806.205017  800.989990  806.070007    1293300.0
           MSFT    62.669998   62.700001   62.119999   62.500000   19646500.0
2017-01-19 AAPL   119.400002  120.089996  119.370003  119.779999   25295700.0
           GOOG   805.119995  809.479980  801.799988  802.174988     912000.0
           MSFT    62.240002   62.980000   62.200001   62.299999   18435500.0
2017-01-20 AAPL   120.449997  120.449997  119.730003  120.000000   29479900.0
           GOOG   806.909973  806.909973  801.690002  805.020020    1645000.0
           MSFT    62.669998   62.820000   62.369999   62.740002   29467500.0

                   Adj Close
Date       minor
2012-05-30 AAPL    75.362333
           DELL    12.149920
           GOOG   293.821674
           MSFT    25.878448
2012-05-31 AAPL    75.174961
           DELL    11.927430
           GOOG   290.140354
           MSFT    25.746145
2012-06-01 AAPL    72.996726
           DELL    11.675920
           GOOG   285.205295
           MSFT    25.093451
2012-06-04 AAPL    73.426126
           DELL    11.608210
           GOOG   289.006480
           MSFT    25.181652
2012-06-05 AAPL    73.236155
           DELL    11.762980
           GOOG   284.920579
           MSFT    25.146372
2012-06-06 AAPL    74.359101
           DELL    11.816190
           GOOG   289.995487
           MSFT    25.887268
2012-06-07 AAPL    74.392930
           DELL    11.733960
           GOOG   288.826666
           MSFT    25.781425
2012-06-08 AAPL    75.511971
           DELL    11.724290
...                      ...
2017-01-06 AAPL   117.910004
           GOOG   806.150024
           MSFT    62.840000
2017-01-09 AAPL   118.989998
           GOOG   806.650024
           MSFT    62.639999
2017-01-10 AAPL   119.110001
           GOOG   804.789978
           MSFT    62.619999
2017-01-11 AAPL   119.750000
           GOOG   807.909973
           MSFT    63.189999
2017-01-12 AAPL   119.250000
           GOOG   806.359985
           MSFT    62.610001
2017-01-13 AAPL   119.040001
           GOOG   807.880005
           MSFT    62.700001
2017-01-17 AAPL   120.000000
           GOOG   804.609985
           MSFT    62.529999
2017-01-18 AAPL   119.989998
           GOOG   806.070007
           MSFT    62.500000
2017-01-19 AAPL   119.779999
           GOOG   802.174988
           MSFT    62.299999
2017-01-20 AAPL   120.000000
           GOOG   805.020020
           MSFT    62.740002

[3877 rows x 6 columns]

In [256]:
stacked.to_panel()

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 1182 (major_axis) x 4 (minor_axis)
Items axis: Open to Adj Close
Major_axis axis: 2012-05-30 00:00:00 to 2017-01-20 00:00:00
Minor_axis axis: AAPL to MSFT

<hr>
<marquee><font size=3 color='brown'>The BigpyCraft find the information to design valuable society with Technology & Craft.</font></marquee>
<div align='right'><font size=2 color='gray'> &lt; The End &gt; </font></div>